/* NAVBAR */
.navbar {
    z-index: 1;
    height: 5em;
    width: 100%;
    padding: 0.8rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .navbar-links {
        display: flex;
        width: 25%;
        justify-content: space-around;
        > .navbar-link {
            color: white;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                color: grey;
            }
        }
        @media screen and (max-width: 150px) {
        }
    }
    > a {
        > img {
            height: 2.5rem;
        }
    }
    > .menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4em;
        height: 4em;    
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        border: 3px solid #fff;
        > .menu-btn__burguer {
            width: 3em;
            height: .25em;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
            transition: all 0.5s ease-in-out;
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 3em;
                height: .25em;
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
                transition: all 0.5s ease-in-out;
            }
            &::before {
                transform: translateY(-16px);
            }
            &::after {
                transform: translateY(16px);
            }
        }
    }
    .menu-btn.open .menu-btn__burguer {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
        &::before {
            transform: rotate(45deg) translate(35px, -35px);
        }
        &::after {
            transform: rotate(-45deg) translate(35px, 35px);
        }
    }
}
