/* NAVBAR */
.navbar {
    z-index: 1;
    height: 5em;
    width: 100%;
    padding: 0.8rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .navbar-links {
        display: flex;
        width: 25%;
        justify-content: space-around;
        > .navbar-link {
            color: white;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                color: grey;
            }
        }
        @media screen and (max-width: 150px){

        }
    }
    > a {
        > img {
            height: 2.5rem;
        }
    }
}
