/* PLANOS */
#planos {
    display: flex;
    justify-content: center;
    margin-top: 5%;

    .plano {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        background-color: white;
        border: 1px solid black;
        padding: 1%;
        padding-top: 0.1%;
        transition: 0.7s all;

        .plano-informacao {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            h1 {
                font-family: "Berkshire Swash", Helvetica, sans-serif;
                font-size: 200%;
                text-align: center;
                padding: 5%;
            }

            hr {
                height: 0;
                border: 0.5px solid black;
            }

            ul {
                margin-bottom: 10%;
                flex-grow: 1;

                li {
                    text-align: center;
                    font-family: "Lobster Two", Helvetica, sans-serif;
                    font-size: 100%;
                    margin: 1%;
                }
            }

            .contrate {
                text-decoration: none;
                padding: .5em;
                font-weight: bold;
                color: black;
                background-color: $lightblue;
                text-transform: uppercase;
                border-radius: 5%;
                text-align: center;
            }
        }
        &:hover {
            transform: scale(1.2, 1.2);
        }
    }

    #plano_1 {
        flex-basis: 20%;
        margin-right: 2.5%;
        box-shadow: 5px 10px 18px $blue;

        .contrate {
            background-color: $lightblue;
        }

        &:hover {
            box-shadow: 5px 10px 18px $darkblue;
            background-color: $lightblue;

            .contrate {
                background-color: $darkblue;
            }
        }
    }

    #plano_2 {
        flex-basis: 20%;
        margin-left: 2.5%;
        box-shadow: 5px 10px 18px $yellow;

        .contrate {
            background-color: $lightyellow;
        }

        &:hover {
            box-shadow: 5px 10px 18px $darkyellow;
            background-color: $lightyellow;

            .contrate {
                background-color: $darkyellow;
            }
        }
    }
}
