/* UNIDADES */
#unidades {
    display: flex;
    flex-flow: row wrap;

    .unidade {
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(31, 76, 224, 0.5), 0 6px 20px 0 rgba(31, 76, 224, 0.3);
        transition: 0.3s all;
        margin: 2%;
        text-align: center;

        .imagem {
            height: 13rem;
            img {
                transition: 1s all;
                height: 13rem;
            }
            span {
                transition: 0.5s all;
                position: absolute;
                text-decoration: none;
                opacity: 0;
                transform: translate(118%, 525%);
                z-index: 1;

                a {
                    background-color: black;
                    color: white;
                    padding: 0.5em 1em;
                    border-radius: 8%;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
                    text-transform: uppercase;
                }
            }
        }
        .informacoes {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                margin: 0.5em;
            }
        }

        &:hover {
            box-shadow: 0 4px 8px 0 rgba(31, 76, 224, 2), 0 6px 20px 0 rgba(31, 76, 224, 2);
            img {
                opacity: 0.3;
            }
            span {
                opacity: 1;
            }
        }
    }
}
