/* FOOTER */
footer {
    background-color: #000;
    margin-top: 5%;
    padding: 1%;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;

    img {
        width: 10%;
        height: 5em;
    }
}
