$blue: #7FDBFF;
$darkblue: #6fc2e3;
$grey: black;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #e6eaed;
    text-rendering: optimizeLegibility;

}

#navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    padding: .8rem;
    color: $blue;
    background-color: $grey;

    .navbar-link {
        color: white;
        margin-top: 0;
        font-weight: bold;
        text-decoration: none;
        position: relative;
        vertical-align: middle;

        &:hover {
            color: grey;
        }
    }

    .navbar-brand {
        margin-left: 1%;
        font-size: 200%;
        text-shadow: 2px 2px black;

    }

    .navbar-link {
        margin-left: 2%;
    }

    img {
        height: 2.5rem;
    }

}

#intro {
    top: 0;
    width: 100%;
    height: 100%;
    background: url("assets/img/intro_image.jpg") center / cover no-repeat;

    img {
        right: 0;
        padding-top: 4.5%;
        padding-left: 56.5%;
        height: 24%;
    }
}

#unidades {
    position: relative;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto;

    .unidade {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: .2%;

        .informacoes {
            margin-left: 4%;

            h2 {
                text-align: center;
            }

            table {
                text-align: center;
            }
        }

        img {
            opacity: 1;
            transition: .3s ease;

            &:hover {
                transition: .3s ease;
                opacity: .3;
            }
        }
    }
}

img {
    border: 1px black solid;
    height: 13rem;
    margin-right: 1%;
}

#planos {
    height: 50%;

    #plano_1,
    #plano_2 {
        border: 1px solid black;
        margin: 5%;
        padding: 1%;
        padding-top: .1%;
    }

    #plano_1 {
        float: left;
        margin-left: 25%;
        border-top: 3px solid $darkblue;
    }

    #plano_2 {
        float: right;
        margin-right: 25%;
        border-top: 3px solid $grey;
    }

    h1 {
        font-family: 'Berkshire Swash', Helvetica, sans-serif;
        font-size: 200%;
        text-align: center;
        margin: 0;
        padding: 5%;
    }

    ul {
        li {
            font-family: 'Lobster Two', Helvetica, sans-serif;
            font-size: 100%;
        }
    }

    .contrate {
        text-align: center;
        text-decoration: none;
        padding: 3%;
        // margin-top: 51%;
        font-weight: bold;
        color: black;
        background-color: $blue;
        border: .02px solid $grey;
        text-transform: uppercase;
        border-radius: 5%;

        &:hover {
            background-color: $darkblue;
        }
    }

    hr {
        height: 0;
        border: .5px solid $grey;
    }
}