@import 'helpers/reset';
@import 'helpers/fontawesome';
@import 'helpers/variables';
@import 'layouts/intro';
@import 'layouts/navbar';
@import 'layouts/exclusividades';
@import 'layouts/unidades';
@import 'layouts/planos';
@import 'layouts/footer';
@import 'helpers/keyframes';
