/* FOOTER */
footer {
  background-color: #000;
  margin-top: 5%;
  padding: 1%;
  display: flex;
  justify-content: space-around;
  color: white;
  align-items: center;
  flex-wrap: wrap;

  > img {
    width: 10%;
    height: 5em;
  }

  @media screen and(max-width: 900px) {
    flex-direction: column;
    > img {
      margin: 0.25em 0;
      width: auto;
    }
  }
}
