$body-color: #e6eaed;
$blue: #1f4ce0;
$darkblue: #1c42bd;
$yellow: #fffd7f;
$darkyellow: #dfe36f;
$black: black;
$transition: .5s ease;
$box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.19);

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: $body-color;
    text-rendering: optimizeLegibility;
}

#navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    padding: .8rem;
    color: $blue;
    background-color: $black;

    .navbar-link {
        color: white;
        margin-top: 0;
        font-weight: bold;
        text-decoration: none;
        position: relative;
        vertical-align: middle;

        &:hover {
            color: grey;
        }
    }

    .navbar-brand {
        margin-left: 1%;
        font-size: 200%;
        text-shadow: 2px 2px black;

    }

    .navbar-link {
        margin-left: 2%;
    }

    img {
        height: 2.5rem;
    }

}

#intro {
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/intro_image.jpg") center / cover no-repeat;

    img {
        right: 0;
        padding-top: 4.5%;
        padding-left: 56.5%;
        height: 24%;
    }
}

#exclusividades {
    display: grid;
    height: 75%;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-image: linear-gradient(to bottom, $body-color, #9db3fc, $body-color);
    padding: 1%;


    .exclusividades {
        padding: 2%;
        justify-self: center;
        align-self: center;
        margin-top: 5%;
        transition: $transition;


        .exclusividades-header {
            font-size: 150%;
            text-decoration: none;
            text-align: center;
        }

        .exclusividades-body {
            text-align: center;
        }

        .exclusividades-icons {
            width: 100%;
            text-align: center;
            color: $blue;
        }

        &:hover {
            transition: $transition;
            box-shadow: 0 4px 8px 0 rgba(31, 76, 224, 0.5), 0 6px 20px 0 rgba(31, 76, 224, 0.3);
        }
    }
}

#unidades {
    position: relative;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto;

    .unidade {
        box-shadow: $box-shadow;
        margin: .2%;

        img {
            transition: $transition;
            border: 1px black solid;
            height: 13rem;
            margin-right: 1%;

            &:hover {
                opacity: .3;
            }
        }

        .informacoes {
            margin-left: 4%;

            h2 {
                text-align: center;
            }

            table {
                text-align: center;
            }
        }
    }
}

#planos {
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: auto auto;
    // align-items: center;
    // justify-items: center;

    .plano {
        width: 300px;
        height: 300px;
        border: 1px solid black;
        margin: 25%;
        padding: 1%;
        padding-top: .1%;
        transition: $transition;

        h1 {
            font-family: 'Berkshire Swash', Helvetica, sans-serif;
            font-size: 200%;
            text-align: center;
            margin: 0;
            padding: 5%;
        }

        ul li {
            font-family: 'Lobster Two', Helvetica, sans-serif;
            font-size: 100%;
            margin: 1%;
        }

        .contrate {
            text-decoration: none;
            padding: 2%;
            font-weight: bold;
            color: black;
            background-color: red;
            border: .02px solid $black;
            text-transform: uppercase;
            border-radius: 5%;
            transition: $transition;

            &:hover {
                background-color: $darkblue;
            }
        }

        hr {
            height: 0;
            border: .5px solid $black;
        }
    }

    #plano_1 {
        border-top: 3px solid $darkblue;
        background-color: $blue;
        justify-self: end;
        margin-right: 5%;

        &:hover {
            background-color: $darkblue;
            border-top: 3px solid $blue;
            box-shadow: $box-shadow;
        }
    }

    #plano_2 {
        margin-left: 5%;
        border-top: 3px solid $darkyellow;
        background-color: $yellow;
        justify-self: start;

        &:hover {
            background-color: $darkyellow;
            border-top: 3px solid $yellow;
            box-shadow: $box-shadow;
        }
    }
}