/* EXCLUSIVIDADES */
#exclusividades {
    background-image: linear-gradient(to bottom, $body-color, $blue, $body-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5% 2%;

    .exclusividades {
        width: 33%;
        padding: 2%;
        transition: 0.5s all;
        border-radius: 5%;

        .exclusividades-header {
            font-family: 'Roboto Slab', serif;
            font-size: 175%;
            text-align: center;
        }

        .exclusividades-body {
            text-align: center;
        }

        .exclusividades-icons {
            width: 100%;
            text-align: center;
            color: $darkblue;
        }

        &:hover {
            box-shadow: 0 4px 8px 0 rgba(31, 76, 224, 0.5), 0 6px 20px 0 rgba(31, 76, 224, 0.3);
            animation: rotate 0.5s ease-in-out both;
            .exclusividades-icons {
                animation: popup 0.5s;
                animation-delay: 0.1s;
            }
        }
    }
}
